h5 Search An Article by Comments
.row
    .col-md-8
        .form-group.form-group-default
            label Comments
            input#text.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='articleComments.searchByName($("#text").val())') Search
