h5 Enter Text
.row
    .col-md-12
        .form-group.form-group-lg
            label Text
            input#text.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='query.search($("#text").val())') Search

