h5 Search By Reddit Thread Name
.row
    .col-md-8
        .form-group.form-group-default
            label Name            
            input#name.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='articleText.searchByName($("#name").val())') Search
