div.panel
    ul.nav.nav-tabs.nav-tabs-simple
        li
            a#query Analyze My Text
        li 
            a#top Analyze Top Threads
        li
            a#subReddit Analyze By SubReddit
        li
            a#userComments Analyze A User's Comments
