div.panel
    ul.nav.nav-tabs.nav-tabs-simple
        li
            a#query Analyze My Text
        li 
            a#articleComments Analyze An Article's Comments
        li
            a#articleText Analyze An Article's Text
        li
            a#userComments Analyze A User's Comments
