h5 Top Threads
.row
    .col-md-8
        .form-group.form-group-default
            label Comments
            input#text.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='topa.go()') Go
